# study materials for project
docs

# -----------------------
# Python
# -----------------------

__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------
# Virtual Environment
# -----------------------

venv/
.env/

# -----------------------
# VS Code
# -----------------------

.vscode/

# -----------------------
# OS Files
# -----------------------

.DS_Store
Thumbs.db

# -----------------------
# Uploaded PDFs
# -----------------------

app/uploads/

# -----------------------
# Generated Chunks
# -----------------------

app/chunks/

# -----------------------
# ChromaDB Vector Storage
# -----------------------

app/chroma_db/

# -----------------------
# Metadata Files
# -----------------------

documents.json

# -----------------------
# HuggingFace Cache
# -----------------------

.cache/
huggingface/

# -----------------------
# Logs
# -----------------------

*.log

# -----------------------
# Temporary Files
# -----------------------

temp/
tmp/

# -----------------------
# Environment Variables
# -----------------------

.env