# =========================================================
# Study Materials / Notes
# =========================================================
docs/


# =========================================================
# Python
# =========================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd


# =========================================================
# Virtual Environment
# =========================================================
venv/
.env/


# =========================================================
# Environment Variables
# =========================================================
.env


# =========================================================
# VS Code
# =========================================================
.vscode/


# =========================================================
# JetBrains IDEs
# =========================================================
.idea/


# =========================================================
# OS Files
# =========================================================
.DS_Store
Thumbs.db


# =========================================================
# Upload Storage
# =========================================================
app/uploads/
/uploads/


# =========================================================
# Parsed / Intermediate Files
# =========================================================
app/parsed/
/parsed/
chunks/


# =========================================================
# ChromaDB Vector Storage
# =========================================================
app/chroma_db/
/chroma_db/



# =========================================================
# Metadata Storage
# =========================================================
documents.json


# =========================================================
# Logs
# =========================================================
*.log


# =========================================================
# Temporary Files
# =========================================================
temp/
tmp/


# =========================================================
# HuggingFace / Transformers Cache
# =========================================================
.cache/
huggingface/


# =========================================================
# Jupyter Notebook
# =========================================================
.ipynb_checkpoints/


# =========================================================
# Build Files
# =========================================================
build/
dist/
*.egg-info/


# =========================================================
# Testing
# =========================================================
.pytest_cache/
coverage/





# =========================================================
# macOS Metadata
# =========================================================
*.swp